@tailwind base;
@tailwind components;
@tailwind utilities;

.side-bar {
  background: linear-gradient(180deg, #3c3a6c 0%, #0a0737 100%);
}

@layer base {
  :root {
    --chart-1: 230 91% 60%;
    --chart-2: 195 100% 63%;
    --chart-3: 222 83% 65%;
    --chart-4: 245 100% 69%;
    --chart-5: 254 100% 73%;
  }

  .dark {
    --chart-1: 230 91% 60%;
    --chart-2: 195 100% 63%;
    --chart-3: 222 83% 65%;
    --chart-4: 245 100% 69%;
    --chart-5: 254 100% 73%;
  }
}

.header-title {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
